body, html {
    height: 100%;
}

@media (min-width: 768px) {
    aside {
        height: 100%;
    }
}



.navbar a:hover {
    color: #f9d5d4 !important;
}

img.logo {
    transform: scale(.30);

}

.loggedin-info {
    width: 70% !important;

}

.scrolleable{
        overflow-y: scroll;
        height: 200px;
    }

table.table td.table-primary.table-hover:hover {
    background-color: #816969;
}

table.table td.tile-active:hover {
    cursor: pointer;
}

.md-modal h1{
    display: none;
}


.md-modal h2{
    font-size: 1.5em;
}


div#readme-md img[alt='Logo'] {
    float: right !important;
}
